.Title {
    font-size: 100%;
}

button {
    height: 50px;
    width: 100%;
}

div.toolButtonList {
    padding: 5px;
}

button.toolButton {
    border-radius: 10px;
    overflow: hidden;

}

button.helpButton {
    border-radius: 10px;
    overflow: hidden;
    font-size: medium;
}

div.footerButtonsList {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button.compleateButton {
    border-radius: 10px;
    background-color: green;
    overflow: hidden
}

